<h1>Manage Products</h1>

<p><%= link_to "Add New Product", new_admin_product_path, class: "btn btn-primary" %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td>$<%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= product.category&.name %></td>
        <td>
          <%= link_to "Edit", edit_admin_product_path(product), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>